@charset "UTF-8";
@import url("nitkkr.css");
@import url("dev.css");

/* CSS Document */
body{font-family: Roboto,Helvetica Neue,sans-serif; background: #f4f4f4; color: #000; letter-spacing: 0.2px}
input{font-family: 'Didact Gothic', sans-serif;}
.sitemap{}
.sitemap a{ display: block; padding: 10px; color: #666; font-size: 16px; text-transform: capitalize; float:left; width: 18%; border:1px solid #ddd;}
.sitemap a:hover{ background: #f4f4f4;}

/*@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');*/

.prim-clr{ color: #9E4784}
.sec-clr{ color: #9E4784}
.prim-bg{ background: #9E4784}
.sec-bg{ background: #9E4784}
a{color: #9E4784}
.static-tip{background: #d9f1ff;
            font-size: 12px;
            padding: 5px 10px;
            margin: 8px 0;
            color: #0268c1;
            border-radius: 22px;
            display: inline-block;
            line-height: 17px;}

/*login*/
.logbox .form-field-wrap{ margin-bottom: 20px;}
.login-block{}
.login-grphc{ background: #003A58;
              height: 100%;
              position: fixed;}
.login-grphc img{}
.logbox{ width: 640px;}
span.promoline{text-align: center;
               width: 100%;
               display: block;
               color: #fff;
               font-size: 30px;
               padding: 50px 0 0 0;}
.login-inputs{ width:300px !important;}
.loginbtn{ width:263px;margin-right: 0 !important;text-align: center;font-weight: 500;font-size: 18px;}
.welcom-log{font-size: 22px;margin-bottom: 25px;font-weight: 500;color: #9E4784;}
.login-wrapper{width:304px;margin: 0 auto;padding-top: 50px;padding-bottom: 50px;}
.promo-msg{text-align: center;}
.promo-msg span{ display: block;}
.promo-msg span.prom-text{font-size: 18px;font-weight: 500;margin-bottom: 25px;}
.promo-msg span.demolink{}
.promo-msg span.demolink a{border: 1px solid;display: inline-block;padding: 6px 20px;font-size: 18px;font-weight: 500;border-radius: 4px;line-height: 30px;}
.promo-msg span.demolink a:hover{ background:#9E4784; color: #fff;}
.rstemail{font-size: 18px;margin-bottom: 20px;}
.rstmsg{color: green;margin-bottom: 20px;}

/*header wrapper*/
.header-wrapper{background:#9E4784; padding:10px;}
.wrapper{}
.header-fix{position:fixed; width: 100%;top: 0;z-index:2;}


/*navigation button*/
.navigation{padding: 10px 15px;}


/*header logo*/
.logo{}


/*header searchbox*/
.search-wrap{background: #fff;padding: 10px 20px;margin-left: 50px;border-radius: 4px;}
.sc-icn{margin-top: 4px;}
.crs-icn{margin-top: 4px;}
.srch-input{}
.search-box{width: 400px;margin: 0px 10px;padding: 2px;border: none;font-size: 14px;color: #666;}


/*setting button*/
.profile-wrap{padding: 10px;margin-right: 20px;}
.profile-wrap a{color: #fff;}
.setting-dropdown{background: #2371A2;border-radius: 4px;right: 0;width: 145px; overflow: hidden;}
.setting-dropdown a{padding: 12px 15px;display: block;line-height: 15px;}
.setting-dropdown a:hover{color:#fff; background: #124362;}

/*help section*/
.helpwrap{padding: 10px;margin-right: 20px;}

/*breadcrumb*/
.breadcrumb{ background: #fff; box-shadow: 0px 2px 4px #ccc;padding: 8px;font-size: 13px;}
.breadcrumb ul{margin: 0; padding: 0; list-style-type: none;}
.breadcrumb ul li{ float:left; margin: 0; padding: 2px 5px; list-style-type: none;}
.breadcrumb ul li a{}
.breadcrumb span{ float: left;}
.breadcrumb ul li.brcump-sep{ padding: 4px 5px;}

/*Dashboard*/
.db-boxz{ background: #fff; padding: 1.5%; border-radius: 8px; box-shadow: 0px 0px 11px -6px #919191; margin: 0 1% 2% 1%;padding-bottom: 50px;}
.db30{width:27.7%;}
.db25{width:20.5%;}
.db50{width:44%;}
.db60{width:60.4%;}
.db90{width:93.2%;}
.db-cont-wrap{ width:78%;}
.db-block-ttl{font-size: 17px;font-weight: 500;margin-bottom: 10px; width: 85%;}
.dbminact{ position: absolute; right: 17px; bottom: 5px;}
.dbminact a{display: block;font-weight: 500;font-size: 13px; padding: 10px;border-radius: 100px;}
.dbminact a:hover{ background: #f9f9f9;}

.db25 .db-data-box{height: 70px; width: 100%;overflow: scroll;}
.db25 .db-block-ttl{font-size: 14px;}
.db25.db-boxz{padding-bottom: 0px !important; padding: 1%;}
.db25.db-block-ttl{width: 100%;}

.db-data-box{height: 205px; width: 93%;overflow: scroll;}
.db-block-more{ top: -5px;right: 6px;}
.db-block-more a{ padding: 7px 4px; border-radius: 4px;display: block;}
.db-block-more a:hover{ background: #f9f9f9;}
.db-block-drop{width: 140px;right: 0;background: #fff;box-shadow: 0px 0px 7px -3px #999;border-radius: 4px;}
.db-block-drop a{display: block;padding: 10px 15px;color: #666;font-size: 13px;}
.db-block-drop a:hover{}
.dbsettings{}
.dbsettings span{position: relative;top: -3px;left: 7px;}
.dbsettings a{background: #fff;padding: 8px 20px 4px 10px;display: block;border-radius: 100px;margin-left: 10px; color: #999;box-shadow: 0px 0px 7px -3px #999;}

/*Dashboard message*/
.dbmsgbox{width: 23%;background: #fff;position: fixed;right: 8px;top: 15%;border-radius: 8px 8px 0 0;box-shadow: 0px 0px 11px -6px #919191;overflow: hidden;height: 84%;}
.msg-hdr{}
.dflt-hdr{background: #9E4784;color: #fff;padding: 10px 15px;}
.dflt-hdr span{}
.dflt-hdr span.msg-ttl{padding: 8px 0px;font-size: 15px;font-weight: 500;line-height: 20px;}
.dflt-hdr span a{display: block;padding: 10px 0;}

.msg-srch-open{background: #f9f9f9;box-shadow: 2px -2px 28px -11px #999;padding: 10PX 15px;}
.msg-bck{}
.msg-bck a{padding: 10px 8px;display: block;margin-right: 10px;}
.msg-input{width: 68%;}
.msg-input input{}
.msg-input input.msgsrch{width: 100%;padding: 1% 5%;border: none;margin: 5px 0;font-size: 16px;background: none;}
.msg-clear{}
.msg-clear a{display: block;padding: 10px 0;}

.msg-user-open{background: #9E4784;padding: 15px 15px;}
.actv-user{width: 75%;}
.msg-usr-pic{border-radius: 100px;overflow: hidden;width: 42px;height:42px;}
.msg-usr-prsinfo{max-width: 165px;margin-left: 15px;color: #fff;}
.msg-usr-prsinfo span{}
.msg-usr-prsinfo span.msg-usrnme{font-size: 16px;font-weight: 500;margin-bottom: 2px;}
.msg-usr-prsinfo p{width: 72px;font-size: 12px;}
.msg-usr-prsinfo p.msg-usrdept{margin-right: 8px;padding-right: 7px;border-right: 1px solid #328ac1;}
.msg-usr-prsinfo p.msg-usrdsgnt{}
.usr-more{}
.usr-more a{display: block;padding: 8px 0;}

.msg-body{height: 90%;overflow: scroll;}
.msgusr-list-wrap{ padding: 15px;padding-bottom: 0px;}
.msgusr-list-wrap .msg-usr-prsinfo{ color: #9E4784 !important;max-width: 235px !important;border-bottom: 1px solid #ddd;padding-bottom: 15px;min-width: 235px;}

.msgusr-list-wrap .msg-usr-prsinfo span{}
.msgusr-list-wrap .msg-usr-prsinfo span.msg-usrnme{font-size: 16px;font-weight: 500;margin-bottom: 2px;}
.msgusr-list-wrap .msg-usr-prsinfo p{width: 98px;font-size: 12px;color: #666;}
.msgusr-list-wrap .msg-usr-prsinfo p.msg-usrdept{margin-right: 8px;padding-right: 7px;border-right: 1px solid #ddd;display: block;}
.msgusr-list-wrap .msg-usr-prsinfo p.msg-usrdsgnt{}

.rltm-msg-counter{background: #9E4784;color: #fff;padding: 4px;width: 12px;height: 12px;text-align: center;border-radius: 12px;right: 22px;font-size: 12px;bottom: 13px;line-height: 11px;}

.msg-group-deault{background:url(../img/suitcase.svg) no-repeat 9px 7px #ffe9c0;background-size: 60%;}
.msg-user-deault{background:url(../img/user.svg) no-repeat 8px 6px #f4f4f4;background-size: 65%;}

.msg-type-wrap{height: 5%;
               padding: 10px;
               border-top: 1px solid #ddd;
               background: #fff;
}
.msg-type-wrap a.smily{width: 22px;height: 22px;padding: 7px 5px;}
.chat-inputuser{width: 77%;}
.chat-inputuser input{font-size: 14px;padding: 4px;width: 94%;border: none;}
.chat-inputuser textarea{font-size: 14px;
                         padding: 5px 10px;
                         width: 91%;
                         border: none;
                         font-family: inherit;
                         max-height: 25px;
                         resize: none; outline: none;
}
.msg-type-wrap a.atchmnt{width: 22px;height: 22px;padding: 7px 5px;}

.msg-body-chatopen{height: 75%;
                   overflow: scroll;
                   padding: 5%;
                   background: #d6f0ff;
}

.msg-user-wrap{}

.msg-txtpc{background: #fff;
           padding: 2% 3%;
           width: 77%;
           border-radius: 4px;
           margin: 0 0 3% 0;}

.msg-txtpc p{}

.msg-txtpc span{color: #999;
                display: block;
                text-align: right;
                font-size: 12px;
                margin-top: 7px;}

.msg-txtpc a{display: block;
             font-size: 14px;
             font-weight: 500;
             margin-bottom: 5px;
             color: #143e75;}

.msg-group-wrap{}

.in-msg{background: #b8eeff;
        color: #143e75;}

.out-msg{right: -17%;}
.chat-date{background: rgba(0,0,0,0.3);margin-bottom: 10px !important;
           font-size: 12px;
           padding: 5px 10px;
           color: #fff;
           border-radius: 30px;
           text-align: center;
           width: 120px;
           margin: 0 auto;}


/*Dashboard widget management*/
.widget-wrap{/*! border-bottom: 1px solid #ddd; */padding: 15px 10px;border-radius: 8px;}
.widget-icon{width: 8%;margin-right: 2%;border-radius: 100px;border: 1px solid #ddd;padding: 2%;background: #fff;}
.widgent-name{width: 62%;margin-right: 2%;}
.widgent-name span{font-size: 17px;
                   font-weight: 500;
                   margin-bottom: 2px;
                   display: block;
                   margin-top: 10px;}
.widgent-name p{font-size: 13px;
                color: #999;}
.wiget-mngcta{margin: 26px 0;}
.disabled{ background: #fff0f0;}
.widget-wrap:hover{ background: #f9f9f9;}
.blank-widget{padding: 75px 0px;}
.blank-widget a{     display: block;
                     text-align: center;
                     font-size: 21px;
                     font-weight: 500;
                     color: #bbb;
}
.blank-widget p{ color: #bbb;
                 font-size: 13px;
                 text-align: center;
                 line-height: 25px;
}

/*widget data for pulse*/
.dly-attndnc{}
.at-vlue-typ{width: 29%;margin: 0 2%;background: #f9f9f9;padding: 12px 0;border-radius: 4px;}
.at-vlue-typ p{font-size: 24px;font-weight: 500;}
.at-vlue-typ span{font-size: 12px;color: #666;}

.db-iot-blk{background: #f9f9f9;padding: 9px 15px;border-radius: 8px;margin-bottom: 5px;}
.wg-dvcnm{font-size: 16px;line-height: 42px;color: #9E4784;}
.wgdvcst{width: 15%;text-align: center;}
.wgdvcst p{font-size: 11px;color: #999;}
.wgdvcst span{}


/*sound alerts on top*/
.inst-alerts{background: rgba(0,0,0,0.8);color: #fff;padding: 10px 15px;border-radius: 4px;font-size: 15px;box-shadow: 0px 0px 8px 0px #9E4784;bottom: 20px;
             right: 20px;}
.inst-alerts span{display: block;color: #ddd;line-height: 23px;}
.inst-alerts span.sound-alert-name{margin-right: 10px;font-weight: 500;}
.inst-alerts span.sound-alert-subject{width: 220px;margin-right: 20px;}
.inst-alerts span.sound-alert-value{margin-right: 25px;}
.inst-alerts span.sound-alert-cta{}
.inst-alerts span.sound-alert-cta a{display: block;padding: 3px 10px;line-height: normal;}

/*health alarm list*/
.ha-listwrap{padding-bottom: 6px;margin-bottom: 10px;border-bottom: 1px dashed #ddd;}
.hl-alrminfo{width: 80%;}
.hl-alrminfo span{font-size: 14px;font-weight: 500;color: #9E4784;}
.hl-alrminfo p{display: block;font-size: 12px;color: #999;padding-top: 2px;}
.ha-tmprvw{background: #f4f4f4;padding: 3%;font-size: 12px;border-radius: 23px;}


/*main content column of website*/
.col-wrapper{margin: 117px 1% 50px 1%;min-height: 400px;z-index: 1;position: relative;}
.content-page{ padding: 20px;min-height: 450px;}
.content-block{margin-bottom: 40px;padding-bottom: 15px;border-bottom: 1px solid #ddd;}
.content-title{font-size: 16px;font-weight: 500;margin-bottom: 20px;}
.content-read{text-align: justify;font-size: 14px;line-height: 20px;margin-bottom: 15px;}
.content-edit{margin-bottom: 15px;}
.content-notation{color: #999;font-size: 13px;margin-bottom: 10px;}
.content-actions{}
.content-actions a{padding: 5px 20px;display: block;float: left; border-radius: 2px; font-weight: 500; text-transform: uppercase;}
.content-actions a:hover{background: #f9f9f9;}
.content-actions a.prim{}
.content-actions a.secnd{}
.content-actions a.tert{}


/*footer*/
.footer-wrapper{position: fixed;
                bottom: 3%;
                left: 2%;
                font-size: 12px;
                z-index: -1; display: none;}


/*navigation page*/
.navpage{position: fixed; width: 90%; height: 90%; text-align: center;
         background: rgb(65,164,226);
         background: radial-gradient(circle, rgba(65,164,226,0.9) 0%, rgba(95,224,199,0.9) 100%);z-index:2; padding: 5%;}
.navpage ul{ margin:0; padding: 0; list-style-type: none;text-align: center;height: 83%;overflow: scroll;}
.navpage ul li{margin:15px 20px; padding: 15px; list-style-type: none; display: inline-block; text-align: center; border-radius: 6px;}
.navpage ul li a{ color: #000; font-size: 13px; font-weight: 500;position: relative;}
.navpage ul li a p{}
.navpage ul li a p.navimg{width: 100px;height: 100px; }
.navpage ul li a p.navtxt{width: 105px;height: 35px;vertical-align: text-top;display: inline flow-root list-item;}
.navpage ul li:hover{ background:rgba(255,255,255,0.1);}
.navpage span{background: rgba(255,255,255,0.3);
              padding: 4px 15px;
              font-size: 13px;
              border-radius: 30px;
              display: block;
              width: 290px;
              margin: 0 auto;
              color: #fff;
              line-height: 20px;}
.navsearch{width:300px; margin: 0 auto;border-bottom: 2px solid #42a9c6;border-radius: 100px;padding: 0px 6px;}
.navsearch p{ display: block; float: left;}
.navsearch p.navsr-icn{padding: 6px 8px;}
.navsearch p.navsr-inpt{}
.navsearch p.navsr-btn a{padding: 6px 8px;display: block;}
input.navsrbox{background: none;border: none;padding: 0 5px;color: #fff;font-size: 16px;line-height: 24px;width: 230px;}
.updt-countr{background: red;
             color: #fff;
             padding: 8px 9px 10px 8px;
             border-radius: 100px;
             width: 18px;
             height: 18px;
             font-size: 16px;
             right: -18px;
             top: -4px;}
.closnav{right: 30px;
         top: 30px;}

/*navigation permanenet visible*/
.db-menu{width: 21%;
         background: #fff;
         border-radius: 4px;
         overflow: hidden;
         box-shadow: 0px 0px 10px -3px #999;
         height: 78%;
         overflow: scroll;
         position: fixed;
}
.db-menu ul{ margin: 0; padding: 0; list-style-type: none;}
.db-menu ul li{ margin: 0; padding: 0; list-style-type: none;}
.db-menu ul li a{ display: block;color: #9E4784;font-weight: 500;padding: 10px 15px;border-bottom: 1px solid #f4f4f4;}
.db-menu ul li a:hover{background: #f4f4f4;}
.db-menu ul li a span{display: block;margin-right: 10px;}
.db-menu ul li a p{display: block;line-height: 23px;}
.db-menu ul li a.active{background: #9E4784;color: #fff;}

/*full column page*/
.full-column{background: #fff;border: 1px solid #ddd;border-radius: 2px;border-bottom: 2px solid #9E4784;}

/*two-column page*/
.two-column-l{ width: 55%}
.two-column-r{ width: 43%}

/*threefour column page*/
.threefour-column{background: #fff;border: 1px solid #ddd;border-radius: 2px;border-bottom: 2px solid #9E4784; width: 82%;}

/*onefour column sidebar*/
.sidebar{width:16%; background: #fff;border-radius: 2px;border-top: 2px solid #9E4784;min-height: 400px;position: fixed;overflow: scroll;height: 83%;}
.sidebar ul{margin:0; padding: 0; list-style-type: none;}
.sidebar ul li{margin:0; padding: 10px 15px; list-style-type: none; display: block;border-bottom: 1px solid #ddd;}
.sidebar ul li a{color: #000;}
.sidebar ul li a:hover, .sidebar ul li a.active{ color: #9E4784;}
.sidebar ul li a.active{  font-weight: 500;}
.sidebar ul li a span{ float:left;}
.sidebar ul li a span.actnme{width: 165px;line-height: 26px;}
.sidebar ul li a span.actmre{padding-top: 3px;}
.sidebar ul li ul{margin:0; padding:5px; list-style-type: none; display: block;}
.sidebar ul li ul li{margin:0 0 2px 0; padding:0; list-style-type: none; display: block;border: none;}
.sidebar ul li ul li a{padding: 10px;display: block;border-radius: 2px;}
.sidebar ul li ul li a:hover, .sidebar ul li ul li a.active{background: #f9f9f9;font-weight: normal;}

/*column head*/
.column-head{padding: 10px 15px;border-bottom: 1px solid #ddd;}
.col-pagename{font-size: 18px;font-weight: 500;line-height: 38px;}
.master-creation{padding: 10px 0;}
.master-creation span{ display: block;float: left;}
.master-creation span.crticn{margin-right: 8px;}
.master-creation span.crtxt{font-size: 16px;font-weight: 500;line-height: 16px;}
.pageback{}
.pageback a{display: block;padding: 10px;padding-left: 0;padding-right: 20px;}

/*table structure*/
.tblinctr{}
.tblinctr span{line-height: 36px;
               display: block;
               float: left;
               margin-right: 15px;
               font-size: 14px;
               background: #f4f4f4;
               padding: 0 20px;
               border-radius: 30px;
               margin-top: 7px;
               margin-bottom: 3px;}
.table-wrap{}
.intablerow-heading .select{margin-bottom: 0px !important;}
.intablerow-heading{padding: 8px 20px;
                    background: #EDF8FF;
                    display: inline-block;
                    margin-bottom: 10px;
                    border-radius: 4px;
                    margin-right: 15px;
                    font-size: 13px;
                    margin-top: 15px;
                    color: #000;
                    line-height: 35px;}
.tbl-subhdacts{margin-left: 30px;}
.tbl-subhdacts a{display: block;float: left;text-align: center;padding-left: 20px;}
.expcolps{margin-right: 15px;margin-left: 25px;}
.expcolps a{background: #f4f4f4;display: block;padding: 5px 8px;margin-top: 17px;border-radius: 4px;}
.expcolps a:hover{background: #ddd;}
.intblactions{margin-right: 20px;}
.intblactions a{padding: 7px 20px;float: left;display: block;background: #f4f4f4;margin-left: 15px;margin-top: 17px;border-radius: 20px;color: #333}
.intblactions a:hover{ background: #ddd; }
.intblactions a p{ float: left;}
.intblactions a span{float: left; margin-right: 10px;}
.blank-table-data{font-size: 32px;
                  color: #999;
                  text-align: center;
                  padding: 150px;}
.table-head{background: #f4f4f4;padding: 5px 15px;border-bottom: 1px solid #ddd;font-weight: 500;font-size: 13px;}
.table-body{overflow: scroll; min-height: 470px}
.table-row{padding: 10px 15px;margin-bottom: 1px;border-bottom: 1px solid #f4f4f4;}
.table-row:hover{ background: #f9f9f9;}
.tbl-cell{margin-right: 9px;line-height: 32px;}
.table-row:nth-last-child(1){margin-bottom: 50px;}
.size-chk{width: 20px; text-align: center}
.size-xs{width: 50px;}
.size-s{width: 100px;}
.size-m{width: 140px;}
.size-l{width: 180px;}
.size-xl{width: 250px;}
.size-xxl{width: 300px;}
.size-xxxl{width: 750px;}
.size-pic{ line-height: normal; width: 32px; font-size: 25px; text-align: center;}
.size-pic img{ width: 32px; height: 32px; border-radius: 100px}
.size-stutbl {width: 75px;}
.tbl-actn{}
.tbl-actn a{background:url(../img/drop-fill-blue.svg) no-repeat 60px 10px #f9f9f9;padding: 7px 12px;display: block;font-size: 13px;border-radius: 3px;font-weight: 500;background-size: 14%;padding-right: 35px;}
.table-head .tbl-actn a{background:url(../img/drop-fill-blue.svg) no-repeat 98px 11px #fff;padding: 7px 12px;display: block;font-size: 13px;border-radius: 3px;font-weight: 500;background-size: 10%;padding-right: 35px;}
.tbl-actn a:hover{ background-color: #ddd;}
span.drop-actns{ background: #f4f4f4 !important;z-index: 2;right: 0;border-radius: 4px 0px 4px 4px;box-shadow: 0px 0px 8px -5px #000;width: 190px;overflow: hidden;}
span.drop-actns a{background: no-repeat;border-radius: 0px !important;padding: 10px 20px;}
.row-highlight-yellow{background: #fdfcc8 !important;}
.row-highlight-red{background: #ffe8e8 !important;}
.row-highlight-green{background: #e4fbe4 !important;}
.row-highlight-disable{background: #f0f0f0 !important;color: #999;}
input.fltr-datebox{padding: 8px 4px;font-size: 12px;border: 1px solid #ddd !important;width: 120px;outline-style: none;font-family: inherit;background: #f4f4f4;border-radius: 2px;margin: 2px 0px;}
input.fltr-srchbox{padding: 8px 4px;font-size: 12px;border: 1px solid #ddd !important;width: 250px;outline-style: none;font-family: inherit;background: #f4f4f4;border-radius: 2px;margin: 2px 0px; letter-spacing: 0.2px;}
.fltr-btn{}
.fltr-btn a{background: #f4f4f4;display: block;padding: 10px;height: 13px;margin: 2px 0;line-height: 9px;font-weight: 500;border-radius: 4px;}
.rest-btn{}
.rest-btn a{padding: 11px;display: block;padding-left: 25px;}
.rmv-dyvlue{}
.rmv-dyvlue a{display: block; padding: 6px;}
.intablerow-heading .rmv-dyvlue a{ padding: 0px !important;}
.rmv-dyvlue a img{}
.admr-dyvlue{margin-top: 10px;margin-bottom: 25px;}
.admr-dyvlue a{display: block;}
.admr-dyvlue a img{display: block;padding: 9px; float: left;}
.admr-dyvlue a span{display: block;line-height: 35px;float: left;}
.adzn{}
.adzn a{background: #eaddd2;
        display: inline-block;
        padding: 10px 15px;
        border-radius: 4px;
        font-weight: 500;}

/*Table filter*/
.filter{bottom: 5%;right: 10%;z-index: 3;}
.filter a{display: block;background: #9E4784;padding: 15px;border-radius: 100px;width: 19px;height: 19px;box-shadow: 0px 0px 15px -3px;}
.filter-wrap{background: #fff;
             right: 0px;
             z-index: 3;
             width: 32%;
             height: 98%;
             top: 0;
             box-shadow: 0px 0px 11px -1px;
             padding: 1%;}
.filter-hding{font-size: 18px;font-weight: 500;border-bottom: 1px solid #f4f4f4;padding-bottom: 15px;}
.filter-box{height: 87%;}
.filter-action{}
.filter-tabber{width: 35%;border-right: 1px solid #f4f4f4;}
.filter-tabber a{display: block;padding: 20px 20px;border-bottom: 1px solid #f4f4f4;color: #000;}
.filter-tabber a:hover, .filter-tabber a.active{background: #f4f4f4;color: #9E4784;}
.filter-taboptions{width: 55%;padding: 15px;}
.filter-choice{margin-bottom: 15px;}
.filter-choice span{}
.filter-choice span.fltr-radio{margin-right: 10px;}
.filter-choice span.fltr-name{width: 85%;}


/*Popup*/
.popup-overlay{ background: rgba(0,0,0, 0.6); position: fixed; z-index: 3; width: 100%; height: 100%;}
.popup-wrap{ width: 450px; margin: 0 auto;background: #fff;border-radius: 4px;overflow: hidden;margin-top: 25px;box-shadow: 0px 0px 14px 5px #333333;}
.popup-header{padding: 20PX 25px;background: #9E4784;}
.popup-body{ min-height: 100px;padding: 25px 25px 0 25px;}
.popup-actionwrap{padding: 10px 25px 20px 20px;}
.popup-actionwrap a{padding: 10px 20px;margin-left: 20px;margin-top: 10px;border-radius: 2px;color: #000;font-weight: 500;text-transform: uppercase; background: #f9f9f9;}
.popup-actionwrap a:hover{ background: #eee;}
.popup-title{font-size: 18px;font-weight: 500;color: #fff;}
.pp-primact{background: #9E4784 !important;
            color: #fff !important;}
.pp-secact{color: #666 !important;}
.pptrtact{color: #999 !important;}
.cnfrm-task{height: 50px !important;min-height: auto;line-height: 45px;}
.pp-small-x{width:475px;}
.pp-small-y{height:250px;}
.pp-medium-x{width:750px;}
.pp-medium-y{height:350px;overflow: scroll;}
.pp-large-x{width:1250px;}
.pp-large-y{height:450px; overflow: scroll;}
.popup-progress{background: #333;width: 100%;top: 64px;height: 5px;}
.popup-progress p{color: #fff;font-size: 11px;text-align: center;padding: 3px 0;}

/*table pagination*/
.pagination{padding: 10px 15px;background: #f9f9f9;}
.rsltpp{}
.rsl-hding{font-size: 13px;font-weight: 500;line-height: 34px;}
.rsl-counter{background: #eee;margin-left: 20px;border-radius: 4px;}
.rsl-counter a{padding: 8px 20px;display: block;}
.rsl-counter ul{ margin: 0; padding: 0; list-style-type: none; bottom: 31px; left:0;background: #eee;border-radius: 4px 4px 0 0;}
.rsl-counter ul li{margin: 0; padding: 0; list-style-type: none;border-bottom: 1px solid #ccc;}
.rsl-counter ul li a{padding: 8px 18px;}
.rsl-counter ul li a:hover{}
.pgntn{line-height: 34px;font-size: 13px;}
.pgntn a{padding: 15px;}
span.crntpg{margin: 0 30px;}

/*html form*/
.form-field-wrap{margin-bottom: 30px;padding-bottom: 10px;}
.form-type{}
input.frm-txtbox{padding: 6px 2px;font-size: 14px;border: none;border-bottom: 2px solid #ddd !important;margin-bottom: 5px;width: 250px;outline-style: none;font-family: inherit;letter-spacing: 0.2px; color: #9E4784;}
.frm-lbl-actv{top: -16px;font-size: 13px;font-weight: 400;left: 2px;}
select.frm-error, input.frm-error{border-bottom: 2px solid #d20000 !important;}
.frm-er-msg{font-size: 12px;color: #d20000;font-weight: 400;}
input.frm-focus{border-bottom: 2px solid #9E4784 !important;}
textarea.frm-txarea{padding: 7px 2px;font-size: 14px;border: none;border-bottom: 2px solid #ddd !important;margin-bottom: 5px;width: 250px;outline-style: none;resize: none;font-family: inherit;height: 80px;letter-spacing: 0.2px; color: #9E4784;}
.frm-slc-list{width: 200px;background: #fff;padding: 10px;border-bottom: 2px solid #ddd;}
.frm-slc-list span{}
.frm-slc-list span.frmtitle{}
.frm-slc-list span.frmdrp{margin-top: 2px;}
.frm-optnlistwrap{width: 220px;background: #f9f9f9; box-shadow: 0px 0px 7px 3px #e6e6e6;z-index: 1;}
.frm-slc-optn{}
.frm-slc-optn:hover{ background: #f4f4f4;}
.frm-opitm{padding: 10px;border-bottom: 1px solid #ddd;}
.frm-opitm span{}
.frm-opitm span.frmcx{margin-right: 6px;}
.frm-opitm span.frmtx{width: 170px;font-size: 13px;line-height: 18px;}
.frm-lbltitl{padding: 10px;font-weight: 500;}
.frm-rdowrap{width: 120px;padding: 10px; border-radius: 4px;}
.frm-rdowrap:hover{ background:#f4f4f4;}
.frm-rdobtn{margin-right: 8px;}
.frm-rdobtn input.frm.typrdo{}
.rdo-optnwrap{width: 200px;}
.frm-inpticn{top: 7px;left: 230px;}
.frm-fileadd{padding: 10px;
             border-radius: 4px;
             border: 1px solid #ddd;
             margin-bottom: 5px;
}
.frm-filebox{ width:400px;}
.frm-fileadd:hover{ background: #f9f9f9;}
.frm-fileadd span{}
.frm-fileadd span.frm-fldnm{line-height: 24px;}
.frm-fileadd span.frm-fldicn{}
.frm-fileblank{}
.frm-file-specs{font-size: 12px;margin-bottom: 10px;padding: 0px 3px;color: #666;}
.frm-file-specs p{line-height: 19px;}
.file-add-itm{margin-bottom: 10px;border-bottom: 1px dashed #ddd;padding: 8px 2px;font-size: 13px;}
.file-add-itm span{}
.file-add-itm span.frm-flnm{}
.file-add-itm span.frm-flnm-rmv{}
.frm-rqrd{}
.frm-rqrd p{ color: #FB5858}
.actionbuttons{}
.actionbuttons a{padding: 10px 20px;border-radius: 2px;text-transform: uppercase;font-weight: 500;}
.actionbuttons a:hover{background: #f4f4f4;}
.actionbuttons a.primary{background: #9E4784;color: #fff;}
.actionbuttons a.secondary{background: #f4f4f4;color: #000;}
.actionbuttons a.tertiary{color: #999;background: #f9f9f9;}
.actionbuttons a.tertiary:hover{background: #f4f4f4;}
.form-switch{ border-radius: 4px; overflow: hidden; display: inline-block;}
.form-switch a{background: #ddd;padding: 5px 15px;display: block;float: left;font-size: 13px; color: #666;}
.form-switch a.pass-active{border-right: 0px;background: #57c457;color: #fff;}
.form-switch a.fail-active{border-left: 0px;background: #fd5353;color: #fff;}
select{font-family:inherit; background: #fff;}
input{ font-family:inherit;}
input.pageform,textarea.pageform{ padding:10px !important; background: #f9f9f9; border-radius: 2px;}

.control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    padding: 30px;
    width: 200px;
    height: 210px;
    margin: 10px;
}
.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 16px;
    width: 16px;
    background: #fff;
    border: 1px solid #ccc;
    /*
      .control:hover input:not([disabled]):checked ~ &,
      .control input:checked:focus ~ &
        border-color: #666
    */
}
.control--checkbox .control__indicator {
    border-radius: 3px;
}
.control--radio .control__indicator {
    border-radius: 50%;
}
.control:hover input:not([disabled]) ~ .control__indicator,
.control input:focus ~ .control__indicator {
    border-color: #666;
}
.control input:checked ~ .control__indicator {
    background: #fff;
}
.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--checkbox .control__indicator:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 12px;
    border: solid #34bb92;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
    left: 5px;
    top: 5px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #34bb92;
}
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    min-width: 200px;
}
.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 2px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #fff;
    color: #9E4784;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 2px solid #ddd;
    font-size: 14px;
    letter-spacing: 0.2px;
}
.select select::-ms-expand {
    display: none;
}
.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #999 transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
    border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
    border-top-color: #ccc;
}
.frm-prnt-vlue{ font-size: 25px;}
.chiptags{}
.chiptags p{    float: left;
                background: #f9f9f9;
                display: block;
                padding: 5px 15px;
                margin-right: 8px;
                border-radius: 100px;
                color: #999; font-size: 14px;
}


/*tab design*/
.tab-wrap{margin-bottom: 10px;}
.tab-wrap a{padding: 8px 22px;display: block;float: left;border-bottom: 2px solid #fff;font-weight: 500;text-transform: capitalize;max-width: 200px; color: #9E4784;font-size: 15px;text-transform: uppercase;}
.tab-wrap a:hover, .tab-wrap a.active{border-bottom: 3px solid #9E4784; color: #9E4784;}

/*help page*/
.help-box{margin-bottom: 35px;padding-bottom: 20px;border-bottom: 1px solid #ddd;}
.hlp-mainarea{width: 95%;}
.hlp-ques{font-size: 18px;font-weight: 500;margin-bottom: 15px;}
.hlp-rply{color: #666;font-size: 14px;text-align: justify;}
.hlp-rply span{}
.hlp-rply span.cont-full{}
.hlp-rply span.cont-img{}
.hlp-rply span.cont-halve{width: 60%;}
.hlp-rply span.cont-video{display: block;width: 560px;}

.hlp-reader{}
.hlp-reader a{}





/*Department & people management Module*/
.dept-frm-input{width:395px !important;}
.ppl-crt-form{overflow: scroll;}
.emp-address{width:395px !important;}
.wrk-lcn{ width: 380px;}
.tab5{ height:542px;}
.ppl-prsnldtl-wrap{width: 274px;padding-left: 20px;margin-left: 20px;border-left: 1px solid #ddd;height: 530px;overflow: scroll;}
.user-photo{width: 125px;margin: 0 auto;border-radius: 400px;overflow: hidden;height: 125px;margin-bottom: 25px;background:url(../img/user.svg) no-repeat 42px 36px #f4f4f4;background-size: 35%;}
.user-photo span{}
.user-photo span.ppl-dp{}
.user-photo span.ppl-dp-edit{}
.user-photo span.ppl-dp-edit a{left: 48px;top: 90px;z-index:1;background: #9E4784; display: block;padding: 5px 7px;border-radius: 30px;}
.ppl-infolist-wrap{margin-bottom: 15px;}
.ppl-infolist-wrap span{text-transform: capitalize;}
.ppl-infolist-wrap span.label{font-size: 14px;
                              margin-bottom: 2px;
                              display: block;
                              color: #6ca3f9;}
.ppl-infolist-wrap span.value{font-size: 14px;color: #000;max-height: 80px;display: block;}
.emp-dtl-infowrap{height: 460px;
                  overflow: scroll;
                  margin-bottom: 25px;}
.edit-p-detail{bottom: 50px;right: 25px;}
.edit-p-detail a{background: #9E4784;display: block;color: #fff;padding: 5px 15px;border-radius: 20px;line-height: 20px;}
.ppl-alldtl-wrap{width: 885px; position: relative;}
.tagbg{ background: url(../img/bands.png) 516px 157px no-repeat;background-size: 40%;}

.doc-box-wrap{float: left;padding: 18px;border-radius: 2px;}
.doc-box-wrap:hover{ background: #f4f4f4;}
.docedit{right: 15px;bottom: 16px;}
.docedit a{background: #9E4784;color: #fff;font-size: 12px;padding: 3px 8px;border-radius: 100px;box-shadow: 0px 0px 5px 2px #999;}
.file-prvw{width: 160px;height: 160px;padding: 5px;background: #f9f9f9;border-radius: 2px;margin-bottom: 15px;position: relative;}
.file-name{font-weight: 500;margin-bottom: 10px;height: 31px;}
.file-actns{}
.flname-edit{width: 158px;padding: 5px 5px;border: none;font-size: 13px;border-radius: 2px;border-bottom: 1px solid #ddd;}
.file-actns a{float: left;padding: 6px 8px;background: #fff;border-radius: 100px;margin:0 5px;}
.file-actns a:hover{}
.ppl-box-edit{ height:500px !important;}

.health-cap{background: #fff;border: 1px solid #ddd;border-radius: 2px;border-bottom: 2px solid #9E4784;}
.tab1{border-bottom: 1px solid #ddd;margin-bottom: 20px;}
.tab1-report{}
.hlth-rcrd{background: #fdf9eb;padding: 8px 20px 20px 20px;width: 325px;border-radius: 8px;}
.at-rcrd{width: 445px;margin-right: 20px;/*! padding-right: 40px; *//*! border-right: 1px solid #ddd; */}

.att-status{margin-bottom: 20px;}
.rec-time{background: #f9f9f9;padding: 8px 14px;margin-right: 10px;border-radius: 4px;font-size: 16px;}
.rec-time span{display: block; line-height: normal !important;}
.rec-time span.label{font-weight: normal;color: #000 !important;}
.rec-time span.value{font-weight: 500;}
.rec-time-late,.rec-time-absnt,.rec-time-wkof,.rec-time-hldy,.rec-time-leve,.rec-time-hday{background: #f9f9f9;
                                                                                           padding: 10px 15px;
                                                                                           display: inline-table;
                                                                                           border-radius: 50px;}
.rec-time-late span{}
span.at-icn{ margin-right: 8px;line-height: normal !important;}
.at-rcrd span{ line-height: 24px;font-size: 14px;color: #000;font-weight: 500;}
.rec-time-late span.wrk-stus{}
.rec-time-absnt{}
.rec-time-absnt span{}
.rec-time-wkof{}
.rec-time-wkof span{}
.rec-time-wkof span.wrk-stus{}
.rec-time-hldy{}
.rec-time-hldy span{}
.rec-time-leve{}
.rec-time-leve span{}
.rec-time-hday{}
.rec-time-hday span{}
.temp-stus{font-size: 25px;margin-bottom: 5px;}
.tmp-age{}
.tmp-age span{}
.tmp-age span.updt{color: #666;font-size: 12px;line-height: 38px;margin-right: 5px;}
.tmp-age span.rfrsh{}
.tmp-age span.rfrsh a{display: block;padding: 10px;background: #fff;border-radius: 100px;width: 18px;height: 18px;/*! border: 1px solid #ddd; */}
.atht-rprt{ width:425px;}
.atthistry-tbl{ width:99%;}
.emp-dtl-view{height: 517px;
              overflow: scroll;}

/*attendance and health wrap*/
.athl-summary-wrap{width: 285px;padding: 20px;margin-top: 47px;overflow: hidden;background: #e4f7ff;border-radius: 4px;padding-top: 8px;}
.size-cf-record{ text-align: left;width: 655px;overflow: scroll !important;line-height: normal;}
.h-alrtpg{ width:420px !important;}
.cf-chip{ display:inline-block;line-height: 23px;padding: 3px 10px;border-radius: 100px;border: 1px solid #c6e1bc;margin: 2px 4px;color: green;background: #f5ffee;}
.cf-value{font-weight: 500;margin-right: 8px;padding-right: 8px;border-right: 1px solid #ddd;font-size: 14px;}
.cf-dtstmp{font-size: 12px;}
.cf-rise{background: #ffe8e8;border: 1px solid #ffa1a1;color: #f00;}
.cf-down{background: #e6fdff;border: 1px solid #a1d3ec;color: #0093ff;}
.att-histry-data{ height:355px;}
.temp-stng-form{ width:120px !important;}
span.org-logo-view{display: block;
                   width: 150px;
                   height: 150px;
                   border: 1px solid #ddd;
                   border-radius: 2px;}
span.orgnme{ font-size:22px;}
.input-orgname{width: 700px !important;}
.txtarea-orgabout{width: 900px !important;height: 220px !important;}

/*bday anneversary*/
.bdayballs{right: 0px;
           bottom: -8px;}
.anvicn{ right: 8px;
         bottom: -6px;}
.anvr-scroller{/*! display: flex; */
    /*! flex-wrap: nowrap; */
    overflow: scroll;
    height: 231px;
}
.anvrsry-box{flex: 0 0 auto;padding-right: 3%;border-right: 1px solid #ddd;width: 45%;float: left;margin-right: 3%;height: 49%;}
.anvrsry-box:nth-child(even){margin-right: 0;padding-right: 0;border-right: none;}
.anv-usrpc{border-radius: 100px;overflow: hidden;width: 27%;margin-right: 5%;height: 62%;}
.anv-usrpc img{width:100%; height:100%;}
.anv-usrinfo{width: 68%;text-align: left;}
.anv-usrinfo a{margin-top: 5px;display: inline-block;margin-bottom: 20px;}
.anv-usrinfo p{font-size: 13px;color: #666;line-height: 17px;}
.anv-keyvalue{}
p.anv-keyvalue{font-weight: 500;}
p.anv-usrnme{display: block;}
p.anv-usrnme a{font-size: 15px;font-weight: 500;margin-bottom: 3px;display: block;margin-top: 0;}

/*dynamic application form css*/
.dafcrt-wrap{padding:35px 20px 20px 20px;background: #f9f9f9;border-radius: 15px;margin-bottom: 30px;}
.dafcrt-wrap:hover{ box-shadow:0px 0px 16px -3px #999; background: #e6f9ff;}
.dafcrt-kyinpt{margin-bottom: 55px;}
.daf-priminfowrap input, .daf-priminfowrap select{ background: #fff5eb;}
.dafcrt-wrap input, .dafcrt-wrap select{ background:none;}
.daf-priminfowrap{padding: 40px 20px 15px 20px;
                  margin-bottom: 5px;
                  background:#fff5eb;
}
.daf-pinfobox{margin-right: 30px !important;}
.daf-name{ width:400px !important}
.daf-fee{ width: 100px !important}
.daf-plcd{ width:200px !important}
.daf-cntrl{margin-right: 45px;}
.daf-cntrl p{display: block;}
.daf-cntrl span{display: block;padding-left: 4px;color: #f77;}
.daf-acts{}
.daf-acts a{padding: 2px;margin-left: 20px;}
.add-dafcart{ margin-bottom:40px;}
.add-dafcart a{background: #9E4784;
               display: inline-block;
               padding: 8px 10px;
               border-radius: 30px;}
.daf-vwmode{}
.daf-txbx{ width:400px !important;}
.daf-txarea{ width:400px !important;}
.autosavetxt{color: #999;
             line-height: 40px;
             margin-right: 30px !important;}
.frmprvwtxt{color: #666;
            font-size: 13px;
            padding: 10px 20px;
            background: #f4f4f4;}
.formhding{margin-bottom: 20px;
           font-size: 18px;
           margin-left: 4px;
           color: #999;}
strong {font-weight: 500;}
.indivi-stus{
    padding: 6px 10px;
    border-radius: 20px;
    margin: 19px 5px;
    cursor: pointer;
}
.dayplan-wrap{padding: 20px;background: #e4f7f5;margin-bottom: 20px;border-radius: 4px;}
.day-name{font-size: 20px;margin-bottom: 25px;font-weight: 500;}
.day-console{margin-bottom: 40px;padding-bottom: 20px;border-bottom: 1px dashed #999;}
.drg1{margin-right: 50px !important;}
.drg2{}
.mng-dytmng{}
.mng-dytmng a{line-height: 36px;display: block;color: #519d84;margin-left: 35px; float:left;}
.slot-chips{padding-top: 25px;font-size: 13px;padding-bottom: 10px;}
.slot-chips p{float: left;margin-right: 20px;color: #333;}
.slot-chips span{background: #fff;padding: 5px 10px;border-radius: 30px;margin-right: 10px;}
.add-dytmns{}
.add-dytmns a{background: #9E4784;color: #fff;display: block;padding: 8px 15px;border-radius: 4px;font-weight: bold;}
.day-console input{ background: none !important;}
.dymng-cpyall{}
.dymng-cpyall p{}
.dymng-cpyall span{margin-left: 8px;
                   line-height: 18px;}
.unvlblmsg{background: #ff6767;
           color: #fff;
           font-size: 13px;
           padding: 6px 20px;}
.dyslctns{margin-right: 20px;
          background: #f4f4f4;
          font-size: 15px;
          font-weight: 500;
          color: #9E4784;
          padding: 7px 12px;
          border-radius: 6px;}
.dyslctns p{}
.dyslctns span{margin-left: 10px;}
.tymshow{}
/*video consultation page*/
.havc-wrap{background: #000;color: #fff; position: fixed; height: 100%}
.havc-player{width: 68%;
             float: left;
             padding: 1%;
             overflow: hidden;
             position: fixed;
             height: 96%;}
.havc-conspro{float: right;
              width: 26%;
              padding: 1%;
              background: #fff;
              margin: 1%;
              color: #333;
              border-radius: 8px;
              height: 92%;
              position: fixed;
              right: 0;
              overflow: scroll;}
.havc-loclvdo{ width:auto; height:100%;border-radius: 8px;
               overflow: hidden;}
.loclvdplay{}
.rmt-vdowrap{ width: 200px; height: 200px;border: 4px solid #fff;border-radius: 12px;overflow: hidden;box-shadow: 0px 0px 9px -1px #666;}
.ptntvdo{ top:4%; right: 4%;}
.gpvdo{top:30%; right: 4%;}
.rmt-vdoinfo{bottom: 0px;
             width: 190px;
             padding: 10px 0px 14px 10px;
             background: rgba(0,0,0,0.6);
             z-index: 1;
}
.rmt-profile{font-size: 12px;line-height: 20px;color: #ddd;}
.rmtnamer{font-size: 13px;font-weight: 400;}
.rmt-rmndr{top: 6px;
           right: 6px;
           background: #fff;
           border-radius: 100px;
           box-shadow: 0px 0px 12px -4px #666;
           height: 30px;
}
.rmt-rmndr a{display: block;padding: 3px;}
.havc-calldurtn{top: 2%;
                left: 2%;
                font-size: 14px;
                background: rgba(0,0,0,0.4);
                padding: 5px 10px;
                border-radius: 23px;}
.lclyrinfo{bottom: 5%;
           left: 2%;
           font-size: 16px;
           font-weight: 500;}
.havc-toolwrap{right: 2%;bottom:4%;}
.havc-toolwrap a{display: block;float: left;background: #3CC3A3;color: #fff;padding: 9px 18px;border-radius: 30px;height: 20px;margin-left: 16px;}
.havc-toolwrap a.turnedoff{background: rgba(255,0,0,0.5);color: #ddd;}
.havc-toolwrap a span{float: left;}
.havc-toolwrap a p{float: left;
                   line-height: 17px;
                   font-size: 14px;
                   margin-left: 8px;}
.conspro-block{margin-bottom: 20px;padding-bottom: 5px;border-bottom: 1px solid #ddd;}
.conspro-ttl{font-size: 20px;font-weight: 500;margin-bottom: 20px;/*! border-bottom: 2px solid #ddd; */color: #3CC3A3;/*! padding-bottom: 5px; */}
.conspro-fldwrap{margin-bottom: 16px;}
.conspro-fldwrap p{font-size: 14px;color: #999;}
.conspro-fldwrap span{font-size: 14px;margin-top: 3px;font-weight: 400;}
.cpro-usrpc{right: 0px;width: 100px;height: 100px;border-radius: 100px;overflow: hidden;}
.cpro-usrpc img{}
.cpcrdr{}
.cpcrdr a{display: block;
          background: #f4f4f4;
          padding: 13px 20px;
          margin-bottom: 15px;
          font-size: 16px;
          font-weight: 500;
          border-radius: 6px;}
.cpcrdr a.used{ background: #3CC3A3; color:#fff;}
.cpcrdr a span{    right: 20px;
                   top: 14px;
}
.cpcrdr a span.usdicn{}
.player {
    height: 28vh;
    width: 100%;
    position: absolute;
}
.rmplayer {
    height: 100vh;
    width: 100%;
    position: absolute;
}
.lclplchldr{ height: 100vh;
text-align: center;
background: #151617;}
.lclplchldr a{background: #ff6f6f;color: #fff;padding: 5px 15px;display: inline-block;border-radius: 4px;margin-top: 30px;}
.lclplchldr span{display: block;font-size: 22px;color: #ff9e9e;}
.lclplchldr p{padding: 30px;padding-top: 18%;}