<div class="header-fix">

	<div class="header-wrapper">
		
		<div class="inst-alerts posfix">
			<span class="left sound-alert-name">Temperature Alert:</span>
			<span class="left sound-alert-subject text-wrapping">Shantosh Kumar Vishwakarma</span>
			<span class="left sound-alert-value ylwtxt">99.7°F</span>
			<span class="right sound-alert-cta"><a href="#"><img src="img/clear-w.svg" alt="" width="14px"/></a></span>
			<div class="clr"></div>
		</div>
		
		
		<div class="logo left">
			<img src="img/logo.svg" alt="" height="30px"/>
		</div>
		
		<div class="search-wrap left">
			<div class="sc-icn left"><img src="img/lens.svg" alt="" width="14px"/></div>
			<div class="left srch-input"><input type="text" class="search-box" placeholder="Search here..."></div>
			<div class="right crs-icn"><a href="#"><img src="img/clear.svg" alt="" width="14px"/></a></div>
			<div class="clr"></div>
		</div>
		
		<div class="profile-wrap right posrel"><a href="#"><img src="img/settings.svg" alt="" width="18px"/></a>
			<div class="setting-dropdown posabsolut hide">
				<a href="#">Settings</a>
				<a href="#">Change Password</a>
				<a href="#">Logout</a>
			</div>
		</div>
		
		<div class="helpwrap right"><img src="img/help.svg" alt="" width="18px"/></div>
		
		
		<div class="clr"></div>
	</div>
	
	<div class="breadcrumb hide">
		<ul>
		<li><a href="#">Dashboard</a></li>
		<li class="brcump-sep"><img src="img/next.svg" alt="" width="12px"/></li>
		<li><a href="#">Users</a></li>
		<li class="brcump-sep"><img src="img/next.svg" alt="" width="12px"/></li>
		<li>Create user</li>
		<div class="clr"></div>
		</ul>
	</div>
		
	</div>