<div class="sidebar left">
			<ul>
				<li><a href="#" class="active">
					<span class="acticn"><img src="/img/icn_home.svg" alt="" height="18px"></span>
					<span class="actnme text-wrapping left">Dashhboard</span>
					<div class="clr"></div></a>
				</li>
				
				<li><a href="#">
					<span class="acticn"><img src="/img/icn_appt.svg" alt="" height="18px"></span>
					<span class="actnme text-wrapping left">Appointments</span></a>
					<div class="clr"></div>
				</li>
				
				<li><a href="#">
					<span class="acticn"><img src="/img/icn_flwp.svg" alt="" height="18px"></span>
					<span class="actnme text-wrapping left">Followups</span></a>
					<div class="clr"></div>
				</li>
				
				<li><a href="#">
					<span class="acticn"><img src="/img/icn_rfrl.svg" alt="" height="18px"></span>
					<span class="actnme text-wrapping left">Referrals</span></a>
					<div class="clr"></div>
				</li>
				
				<li><a href="#">
					<span class="acticn"><img src="/img/icn_blng.svg" alt="" height="18px"></span>
					<span class="actnme text-wrapping left">Billing</span></a>
					<div class="clr"></div>
				</li>
				
				<li><a href="#">
					<span class="acticn"><img src="/img/icn_ptnt.svg" alt="" height="18px"></span>
					<span class="actnme text-wrapping left">Patients</span></a>
					<div class="clr"></div>
				</li>
				
				<li><a href="#">
					<span class="acticn"><img src="/img/icn_rvws.svg" alt="" height="18px"></span>
					<span class="actnme text-wrapping left">Reviews & Feedback</span></a>
					<div class="clr"></div>
				</li>
				
				<li><a href="#">
					<span class="acticn"><img src="/img/icn_clnc.svg" alt="" height="18px"></span>
					<span class="actnme text-wrapping left">My Clinics</span></a>
					<div class="clr"></div>
				</li>
				
				<li><a href="#">
					<span class="acticn"><img src="/img/icn_dtrs.svg" alt="" height="18px"></span>
					<span class="actnme text-wrapping left">Doctors</span></a>
					<div class="clr"></div>
				</li>
				
			</ul>
			
			<div class="openote">
				<p>Need help? Watch Video.</p>
				<div class="wlcm-vdoprvw"><img src="/img/vdoprvw.png" alt="" width="100%"></div>
				First ever AI enabled clinical management tool</div>
		</div>