<div class="sidebar left">
			<ul>
				<li><a href="#" class="active">
					<span class="acticn"><img src="img/home.svg" alt="" height="25px"></span>
					<span class="actnme text-wrapping left">Dashhboard</span>
					<div class="clr"></div></a>
				</li>
				
				<li><a href="#">
					<span class="acticn"><img src="img/home.svg" alt="" height="25px"></span>
					<span class="actnme text-wrapping left">Appointments</span></a>
					<div class="clr"></div>
				</li>
				
				<li><a href="#">
					<span class="acticn"><img src="img/home.svg" alt="" height="25px"></span>
					<span class="actnme text-wrapping left">Followups</span></a>
					<div class="clr"></div>
				</li>
				
				<li><a href="#">
					<span class="acticn"><img src="img/home.svg" alt="" height="25px"></span>
					<span class="actnme text-wrapping left">Referrals</span></a>
					<div class="clr"></div>
				</li>
				
				<li><a href="#">
					<span class="acticn"><img src="img/home.svg" alt="" height="25px"></span>
					<span class="actnme text-wrapping left">Billing</span></a>
					<div class="clr"></div>
				</li>
				
				<li><a href="#">
					<span class="acticn"><img src="img/home.svg" alt="" height="25px"></span>
					<span class="actnme text-wrapping left">Patients</span></a>
					<div class="clr"></div>
				</li>
				
				<li><a href="#">
					<span class="acticn"><img src="img/home.svg" alt="" height="25px"></span>
					<span class="actnme text-wrapping left">Reviews & Feedback</span></a>
					<div class="clr"></div>
				</li>
				
				<li><a href="#">
					<span class="acticn"><img src="img/home.svg" alt="" height="25px"></span>
					<span class="actnme text-wrapping left">My Clinics</span></a>
					<div class="clr"></div>
				</li>
				
				<li><a href="#">
					<span class="acticn"><img src="img/home.svg" alt="" height="25px"></span>
					<span class="actnme text-wrapping left">Doctors</span></a>
					<div class="clr"></div>
				</li>
				
				
				
			</ul>
		</div>