<%- include('head.ejs') %>
<body>
	<%- include('includes/header.ejs') %>
<div class="wrapper">
	
	<div class="col-wrapper parent_wrapper">
		<%- include('includes/sidebarmenu.ejs') %>
		
		<div class="full-column db-cont-wrap right">
		
			<div class="column-head">
				<div class="col-pagename left">Add Clinic Profile</div>
				
				<div class="actionbuttons right">
					<a style="cursor: pointer;" id="cancel_page" class="secondary left rmarg cancel_page">Cancel</a>
					<a style="cursor: pointer;" class="primary left rmarg" id="addClinic">Save</a>
				<div class="clr"></div>
				</div>
				
				<div class="clr"></div>
			</div>
			<form id="frm">
			<div class="content-page boxsizing editmode">

			<div class="view-mode parent_div">
				<p class="left">Clinic Name</p>
				<span><input type="text" class="frm-txtbox fldrequired" maxlength="100" name="clinic_name" value="nasir" placeholder="Eg. Health Clinic"></span>
				<div class="clr"></div>
				<div class="frm-er-msg"></div>
			</div>
			
			<div class="view-mode parent_div">
				<p class="left">Area / Location</p>
				<span><input type="text" class="frm-txtbox fldrequired" maxlength="50" name="location" value="aminabad" placeholder="Eg. Aminabad"></span>
				<div class="clr"></div>
				<div class="frm-er-msg"></div>
			</div>
				
			<div class="view-mode parent_div">
				<p class="left">Address</p>
				<span><textarea class="frm-txarea fldrequired" maxlength="250" name="address" placeholder="Enter Address">new colony</textarea></span>
				<div class="clr"></div>
				<div class="frm-er-msg"></div>
			</div>
				
			<div class="view-mode">
				<p class="left">ZIP Code</p>
				<span><input type="text" class="frm-txtbox integer fldrequired" name="zipcode" value="123456" maxlength="6" placeholder="Eg. 112233"></span>
				<div class="clr"></div>
				<div class="frm-er-msg"></div>
			</div>
				
			<div class="view-mode parent_div">
				<p class="left">Google Location</p>
				<span><input type="text" class="frm-txtbox fldrequired" maxlength="500" name="map_url" value="123hn.com" placeholder="copy from maps.google.com">
				<br>
					<div class="frm-file-specs">
					Visit maps.google.co and find your business. Copy link and paste here.
				</div>
				</span>
				
				<div class="clr"></div>
				<div class="frm-er-msg"></div>
			</div>
				
			<div class="view-mode parent_div">
				<p class="left">Phone / Mobile</p>
				<span><input type="text" class="frm-txtbox integer fldrequired validate_mobile" name="mobile" maxlength="10" value="9721212374" placeholder="Eg. 9999000011"></span>
				<div class="clr"></div>
				<div class="frm-er-msg"></div>
			</div>
				
			<div class="view-mode parent_div">
				<p class="left">Email</p>
				<span><input type="text" class="frm-txtbox fldrequired validate_email" maxlength="45" name="email" value="nasir@gmail.com" placeholder="Eg. first.lastname@gmail.com"></span>
				<div class="clr"></div>
				<div class="frm-er-msg"></div>
			</div>

			<div class="view-mode parent_div">
				<p class="left">Clinic Registration No.</p>
				<span><input type="text" class="frm-txtbox fldrequired" maxlength="50" name="reg_no" value="1234" placeholder="Eg. 75634875348"></span>
				<div class="clr"></div>
				<div class="frm-er-msg"></div>
			</div>
				
			<div class="view-mode parent_div">
				<p class="left">Open Days & Timings</p>
				<span class="left">
					<div class="ccltime left">
						<div class="frm-rdobtn left"><input type="radio" name="day_type" class="frm.typrdo availradiobtn" value="0" checked></div>
						<div class="left frm-rdotxt text-wrapping rmarg">24/7 Open</div>
						<div class="clr"></div>
					</div>
					<div class="ccltime">
						<div class="frm-rdobtn left"><input type="radio" name="day_type" class="frm.typrdo availradiobtn" value="-1"></div>
						<div class="left frm-rdotxt text-wrapping rmarg">Customised</div>
						<div class="clr"></div>
					</div>
					<span id="customised_schedule" class="hide">
						<div class="ccltime">
							<div class="frm-rdobtn left"><input type="checkbox" name="day[]" class="frm.typrdo" value="1" checked></div>
							<div class="left frm-rdotxt text-wrapping rmarg">Monday</div>
							<div class="left rmarg"><input type="text" name="from[]" id="timepicker" class="frm-txtbox cldate spetime open_time" placeholder="From"></div>
							<div class="left" style="margin-right: 50px;"><input type="text" name="till[]" class="frm-txtbox cldate sptime close_time" placeholder="Till"></div>
							<!-- <div class="left rmarg"><input type="time" class="frm-txtbox cldate" placeholder="From"></div>
							<div class="left"><input type="time" class="frm-txtbox cldate" placeholder="Till"></div> -->
							<div class="frm-rdobtn left"><input type="checkbox" name="same_for_all" id="same_for_all" class="frm.typrdo" value="1"> Same for all</div>
							<div class="clr"></div>
						</div>
						<div class="ccltime">
							<div class="frm-rdobtn left"><input type="checkbox" name="day[]" class="frm.typrdo" value="2" checked></div>
							<div class="left frm-rdotxt text-wrapping rmarg">Tuesday</div>
							<div class="left rmarg"><input type="text" name="from[]" class="frm-txtbox cldate sptime open_time" placeholder="From"></div>
							<div class="left" style="margin-right: 50px;"><input type="text" name="till[]" class="frm-txtbox cldate sptime close_time" placeholder="Till"></div>
							<!-- <div class="left rmarg"><input type="time" class="frm-txtbox cldate" placeholder="From"></div>
							<div class="left"><input type="time" class="frm-txtbox cldate" placeholder="Till"></div> -->
							<div class="clr"></div>
						</div>
						<div class="ccltime">
							<div class="frm-rdobtn left"><input type="checkbox" name="day[]" class="frm.typrdo" value="3" checked></div>
							<div class="left frm-rdotxt text-wrapping rmarg">Wednesday</div>
							<div class="left rmarg"><input type="text" name="from[]" class="frm-txtbox cldate sptime open_time" placeholder="From"></div>
							<div class="left" style="margin-right: 50px;"><input type="text" name="till[]" class="frm-txtbox cldate sptime close_time" placeholder="Till"></div>
							<!-- <div class="left rmarg"><input type="time" class="frm-txtbox cldate" placeholder="From"></div>
							<div class="left"><input type="time" class="frm-txtbox cldate" placeholder="Till"></div> -->
							<div class="clr"></div>
						</div>
						<div class="ccltime">
							<div class="frm-rdobtn left"><input type="checkbox" name="day[]" class="frm.typrdo" value="4" checked></div>
							<div class="left frm-rdotxt text-wrapping rmarg">Thursday</div>
							<div class="left rmarg"><input type="text" name="from[]" class="frm-txtbox cldate sptime open_time" placeholder="From"></div>
							<div class="left" style="margin-right: 50px;"><input type="text" name="till[]" class="frm-txtbox cldate sptime close_time" placeholder="Till"></div>
							<!-- <div class="left rmarg"><input type="time" class="frm-txtbox cldate" placeholder="From"></div>
							<div class="left"><input type="time" class="frm-txtbox cldate" placeholder="Till"></div> -->
							<div class="clr"></div>
						</div>
						<div class="ccltime">
							<div class="frm-rdobtn left"><input type="checkbox" name="day[]" class="frm.typrdo" value="5" checked></div>
							<div class="left frm-rdotxt text-wrapping rmarg">Friday</div>
							<div class="left rmarg"><input type="text" name="from[]" class="frm-txtbox cldate sptime open_time" placeholder="From"></div>
							<div class="left" style="margin-right: 50px;"><input type="text" name="till[]" class="frm-txtbox cldate sptime close_time" placeholder="Till"></div>
							<!-- <div class="left rmarg"><input type="time" class="frm-txtbox cldate" placeholder="From"></div>
							<div class="left"><input type="time" class="frm-txtbox cldate" placeholder="Till"></div> -->
							<div class="clr"></div>
						</div>
						<div class="ccltime">
							<div class="frm-rdobtn left"><input type="checkbox" name="day[]" class="frm.typrdo" value="6"></div>
							<div class="left frm-rdotxt text-wrapping rmarg">Saturday</div>
							<div class="left rmarg"><input type="text" name="from[]" class="frm-txtbox cldate sptime open_time" placeholder="From"></div>
							<div class="left" style="margin-right: 50px;"><input type="text" name="till[]" class="frm-txtbox cldate spstime close_time" placeholder="Till"></div>
							<!-- <div class="left rmarg"><input type="time" class="frm-txtbox cldate" placeholder="From"></div>
							<div class="left"><input type="time" class="frm-txtbox cldate" placeholder="Till"></div> -->
							<div class="clr"></div>
						</div>
						<div class="ccltime">
							<div class="frm-rdobtn left"><input type="checkbox" name="day[]" class="frm.typrdo" value="7" checked></div>
							<div class="left frm-rdotxt text-wrapping rmarg">Sunday</div>
							<div class="left rmarg"><input type="text" name="from[]" class="frm-txtbox cldate sptime open_time" placeholder="From"></div>
							<div class="left" style="margin-right: 50px;"><input type="text" name="till[]" class="frm-txtbox cldate sptime close_time" placeholder="Till"></div>
							<!-- <div class="left rmarg"><input type="time" class="frm-txtbox cldate" placeholder="From"></div>
							<div class="left"><input type="time" class="frm-txtbox cldate" placeholder="Till"></div> -->
							<div class="clr"></div>
						</div>
					</span>
				</span>
				<div class="clr"></div>
				<div class="frm-er-msg"></div>
			</div>
				
				
			<div class="view-mode parent_div">
				<p class="left">Facilities Available</p>
				<span>
					<div>
					<div class="left frm-rdowrap">
						<div class="frm-rdobtn left"><input type="checkbox" name="facility[]" class="frm.typrdo" checked></div>
						<div class="left text-wrapping">Parking</div>
						<div class="clr"></div>
					</div>
					<div class="left frm-rdowrap">
						<div class="frm-rdobtn left"><input type="checkbox" name="facility[]" class="frm.typrdo" checked></div>
						<div class="left text-wrapping">Lounge</div>
						<div class="clr"></div>
					</div>
					<div class="left frm-rdowrap">
						<div class="frm-rdobtn left"><input type="checkbox" name="facility[]" class="frm.typrdo"></div>
						<div class="left text-wrapping">Wheelchair</div>
						<div class="clr"></div>
					</div>
					<div class="left frm-rdowrap">
						<div class="frm-rdobtn left"><input type="checkbox" name="facility[]" class="frm.typrdo"></div>
						<div class="left text-wrapping">Vital Checkup</div>
						<div class="clr"></div>
					</div>
					<div class="clr"></div>
				</div>
				</span>
				<div class="clr"></div>
				<div class="frm-er-msg"></div>
			</div>
				
			<div class="view-mode parent_div">
				<p class="left">Username to Login</p>
				<span><input type="text" class="frm-txtbox fldrequired" name="user_name" placeholder="clinci123" value="clinic123" autocomplete="off"></span>
				<div class="clr"></div>
				<div class="frm-er-msg"></div>
			</div>
			
			<div class="view-mode parent_div">
				<p class="left">Password</p>
				<span><input type="password" name="password" class="frm-txtbox fldrequired" placeholder="" value="Nasir@gh79" autocomplete="off"></span>
				<div class="clr"></div>
				<div class="frm-er-msg"></div>
			</div>
				
			<div class="view-mode parent_div">
				<p class="left">Status</p>
				<span><div class="select dev_req_msg">
                            <select name="status" id="status">
                                <option value="1">Active</option>
                                <option value="0">Deactive</option>
                            </select>
                            <div class="select__arrow"></div>
                        </div></span>
				<div class="clr"></div>
				<div class="frm-er-msg"></div>
			</div>
				
			<div class="actionbuttons right" style="padding: 30px 0px;">
					<a style="cursor: pointer;" id="cancel_page" class="secondary left rmarg cancel_page">Cancel</a>
					<a style="cursor: pointer;" class="primary left rmarg" id="addClinic">Save</a>
				<div class="clr"></div>
				</div>
			</div>	
		</form>
		</div>
		<div class="clr"></div>
		<%- include('includes/footer.ejs') %>
	</div>		
</div>
</body>
</html>
<script src="/scripts/common.js"></script>
<script src="/scripts/common.function.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/admin.js"></script>