<!doctype html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Clinically</title>
      <link href="/css/stylus.css" rel="stylesheet" type="text/css" />
      <link href="/css/common_master.css" rel="stylesheet" type="text/css" />
      <link href="/css/font.css" rel="stylesheet" type="text/css" />
      <script src="/scripts/jquery-3.6.4.min.js"></script>
	<script>
        document.write('<style type="text/css">body{display:none}</style>');
        jQuery(function (a) {
            a("body").css("display", "block")
        });
    </script>
   </head>