<%- include('head.ejs') %>
   <body>
      <div class="login-block">
         <div class="left heroimg">
            <img src="/img/heroimg.jpg" width="100%" height="" alt=""/>
            <p>Is your smart clinic powered by AI?</p>
         </div>
         <div class="login-wrapper right boxsizing parent_wrapper">
			<form id="frm">
            <div class="welcom-log">
               Setup your account. Go Clinically
            </div>
            <div class="form-field-wrap posrel parent_div">
               <div class="form-type"><input type="text" name="user_name" class="frm-txtbox login-inputs boxsizing alphabet fldrequired" maxlength="50" placeholder="Your Name" value="Nasir" autocomplete="off"></div>
			   <div class="frm-er-msg"></div>
            </div>
            <div class="form-field-wrap posrel parent_div">
               <div class="form-type"><input type="text" id="email" name="email" class="frm-txtbox login-inputs boxsizing fldrequired validate_email" placeholder="Email" value="nasir@gmail.com"  autocomplete="off"></div>
			   <div class="frm-er-msg"></div>
            </div>
            <div class="form-field-wrap posrel parent_div">
               <div class="form-type"><input type="text" id="mobile" name="mobile" class="frm-txtbox login-inputs boxsizing integer fldrequired validate_mobile" placeholder="Mobile" value="9721214950"  autocomplete="off"></div>
			   <div class="frm-er-msg"></div>
            </div>
            <div class="form-field-wrap posrel parent_div">
               <div class="form-type"><input type="password" id="pass" name="pass" class="frm-txtbox login-inputs boxsizing fldrequired" placeholder="Create Password" value="Nasir@gh79" autocomplete="off"></div>
			   <div class="frm-er-msg"></div>
            </div>
            <div class="form-field-wrap posrel parent_div">
               <div class="form-type"><input type="password" id="cpass" name="cpass" class="frm-txtbox login-inputs boxsizing fldrequired" placeholder="Confirm Password" onchange="validatePassword()" value="Nasir@gh79"  autocomplete="off"></div>
               <div class="frm-er-msg"></div>
            </div>
            <div class="clr"></div>
            <div class="actionbuttons tmarg">
               <a style="cursor: pointer;" id="save" class="primary loginbtn boxsizing save">Continue</a>
               <div class="clr"></div>
            </div>
            <a class="signupbtn" href="/">Already have an Account? LOGIN</a>
            <div class="clr"></div>
            <%- include('./includes/footer.ejs') %>
			</form>
         </div>
         <div class="clr"></div>
      </div>
   </body>
</html>
<script src="/scripts/common.js"></script>
<script src="/scripts/common.function.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/admin.js"></script>