<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title><%= pageTile %></title>
	<link href="/css/stylus.css" rel="stylesheet" type="text/css" />
	<link href="/css/common_master.css" rel="stylesheet" type="text/css" />
	<link href="/css/font.css" rel="stylesheet" type="text/css" />
	<!--<meta http-equiv="refresh" content="01"/>-->
</head>

<body>
<h1><%= message %></h1>
</body>