@charset "UTF-8";
/* CSS Document */
body{ margin:0; padding: 0; font-size: 13px; color: #000;}
.clr{ clear: both;}
ul,li,ul li{ margin: 0; padding: 0; list-style-type: none;}
.left{ float:left;}
.right{float:right;}
.posrel{ position: relative;}
.posabsolut{ position: absolute;}
.posfix{ position: fixed;}
a{ text-decoration: none; }
p{ margin: 0; padding: 0;}
span{margin: 0; padding: 0;}
.text-wrapping {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.boxsizing{box-sizing: border-box;}
.rmarg{ margin-right: 10px !important;}
.lmarg{margin-left: 10px !important;}
.tmarg{ margin-top: 10px;}
.bmarg{margin-bottom: 10px;}
.pad20{ padding: 20px}
.alc{ text-align: center;}
.redtxt{ color: #f00 !important;}
.grntxt{ color: #00711D !important;}
.ylwtxt{ color: #ff0 !important;}
.bluetxt{ color: #867669 !important;}
.hide{ display: none !important;}
input{outline-style: none;}
.bg-pastel-red{ background: #f7d0d0;}
.bg-pastel-blue{background: #c5e1ff;}
.bg-pastel-green{background: #a0db97;}
.bg-pastel-yellow{background: #ffffb8;}
