.cctagline{ font-size: 15px;
            color: #fff;
            font-style: italic;}
.footer-wrapper {
    position: fixed;
    bottom: 3%;
    right: 3.2%;
    font-size: 12px;
    z-index: -1;
    text-align: right;}
.login-wrapper {
    padding-top: 30vh !important;
}
.navigation {
    padding: 16px 15px !important;
}
.col-wrapper {
    margin: 130px 1% 20px 1% !important;
}
.db-cont-wrap {
    width: 82% !important;}
.helpwrap,.profile-wrap{padding: 15px 10px !important;}
.sidebar{ height: 82% !important;box-shadow: 0px 0px 9px -2px #999 !important;
          border-radius: 4px !important;
          background:#F4F1E5 !important}
.sidebar ul li{border-bottom:1px solid #ece1c9 !important}
.sidebar ul li a{ font-size: 15px !important; font-weight: 500 !important;}
.tbl-actn a{padding:7px !important; background:none !important;}
.tbl-actn a:hover{ background-color: #ddd !important;}
.sidebar ul li a:hover, .sidebar ul li a.active{ color: #867669; background: #999 !important;}
.cnc-map p{float: left;
           background: #f4f4f4;
           padding: 0px 15px;
           display: block;
           border-radius: 30px;
           margin: 0 9px 0 0;
           font-size: 13px;
           line-height: 33px;}
.seatermap{}
.column-head .seatermap{ padding: 5px 20px;}
.seatermap p.h-ds{background: #dbf7c3;color: #124009;}
.seatermap p.h-ss{background: #d0f4ff;color: #0049a8;}
.seatermap p.h-ts{background: #ffedca;color: #c86700;}
.seatermap p{font-size: 12px;display: inline-block;padding: 5px 10px;line-height: normal;border-radius: 30px;margin: 0 3px;}
.str-input{ width:100px !important; margin-right: 20px;}
.str-input-warden{ width:170px !important; margin-right: 20px;}
.str-txarea{ width:395px !important;}
.hostelinfo a{display: block;
              padding: 10px;}
.ppl-infolist-wrap.seatermap p {
    display: inline-block;
    padding: 10px 18px;
    border-radius: 8px;
    margin: 0 3px;
    line-height: 23px;
    font-size: 15px;
}

.h-finrprt{margin: 5px 0;}
.finr-blk{background: #f9f9f9;
          font-size: 15px;
          padding: 10px 20px;
          border-radius: 8px;
          margin-right: 15px;}
.finr-lbl{margin-bottom: 3px;font-size: 14px;color: #666;}
.finr-vlue{font-size: 20px;font-weight: 500;}
.finrgo{}
.finrgo a{background: #f4f4f4;
          padding: 23px;
          display: block;
          border-radius: 10px;}
.hstl-pop-pargebody{height: 440px;
                    overflow: scroll;}
.exppopup .popup-body {
    padding: 0 25px !important;
}
.findates{width: 135px !important; text-align: center;}.crexptbtn{}
.crexptbtn a{ display: block;background: #f4f4f4;padding: 5px 13px;border-radius: 4px;line-height: 21px;}
.crexptbtn a p{display: block;}
.crexptbtn a span{display: block;line-height: 19px;padding-left: 4px;}
.cstbtm{}
.cstbtm span{background: #f9f9f9;display: block;padding: 10px 25px;border-radius: 4px;margin-right: 17px;font-size: 16px;}
span.ftex{color: #666;}
span.fclct{color: green;}
span.fpnd{color: red;}
.size-xxxl {
    width: 800px !important;overflow: scroll !important;
}
.fhdinfo{ }
.fhdinfo p{}
.fhdname{font-size: 18px;}
.fhdocur{background: #ddfff0;
         display: inline-block;
         padding: 2px 6px;
         font-size: 12px;
         line-height: 18px;
         border-radius: 4px;
         margin-top: 5px;
         color: #666;}
.fdtl-strctr .tbl-cell{ line-height: normal !important;}
.fdtl-strctr .table-row{ border-bottom: 1px solid #ddd !important;}
.fiscw-wrap{width: 272px;
            padding: 0px 10px;
            display: inline-block;
            border-left: 1px solid #ddd;
}
.fiscw-wrap p.fiscw-ttl{font-weight: 500;margin-bottom: 6px;color: #666;}
.fiscw-listwrap{background: #fffbef;padding: 5px 10px;margin-bottom: 5px;border-radius: 6px;}
.fiscw-listwrap p{}
.fiscw-listwrap p.fiscwlw-ttl{color: #666;margin-bottom: 4px;}
.fiscw-listwrap p.fiscwlw-vlue{font-size: 16px;font-weight: 500;}
.fiscw-wrap:nth-child(1){border-left:none !important; padding-left:0px;}
/*.fiscw-listwrap:nth-child(4){border-bottom:none !important; padding-top:none !important; margin-top:none !important;}*/
.feetot{background: #e5f8ff !important;}

.semfeevw{background: #f9f9f9;font-size: 13px;padding: 10px 15px;border-radius: 4px;margin-bottom: 10px;margin-right: 15px;box-shadow: 0px 0px 4px 0px #bbb !important;}
.semfeevw p{color: #666;}
.semfeevw span{font-size: 18px;margin-top: 5px;display: block;}
.sidebar ul li a span.acticn{width:25px; height:25px; text-align: center;margin-right: 8px;}
.prcs-stus{}
.prcs-stus p{background:#fdfcc8;color: #858585;font-weight: 500;display: inline-block;padding: 0px 13px;border-radius: 30px;line-height: 24px;margin: 0 2px;font-size: 12px;}
.cstbtm .prcs-stus p{margin: 8px 0;}
.prcs-stus p.mrked{background: #d5f7d5;color: green;}
.prcs-stus p.dismrked{background: #ffc9c9;color: red;}
.prcs-stus a{display: block;line-height: 28px;padding-left: 5px;}
.tbl-rprt-wrap{ background: #f9f9f9;padding: 10px 20px;margin: 15px 0px 15px 15px;border-radius: 8px;text-align: center;width: 135px;}
.tblrpt-head{font-size: 16px;color: #999;margin-bottom: 5px;}
.tblrpt-value{font-size: 30px;}

.aprocson{ height: 405px !important;
           margin-bottom: 15px !important;}

.aprocson2{ height: 475px !important; /*414px*/
            margin-bottom: 15px !important;}

.thumb{height: 22px;
       padding: 5px 0;}
.verlocker{padding: 10px 0px;margin-right: 30px;}
.last-stus{padding: 8px 0; }
.last-stus span{background: #f4f4f4;display: block;padding: 5px;width: 15px;text-align: center;height: 15px;line-height: 13px;border-radius: 30px;font-size: 16px;margin-right: 10px;}
.last-stus span a{ color: #999;}
.last-stus span.pass{ background: #71db4b; color:#fff;}
.last-stus span.fail{ background: #ff7878; color:#fff;}
.last-stus span.pass a{ color:#fff;}
.last-stus span.fail a{ color:#fff;}
.admcncld{line-height: 40px;}
.cnfmsg{ margin-bottom:40px; font-size:16px; display:block;}
.ccrtn .select{ margin-bottom:0px !important;}
.ccrtntbl{min-height: 200px !important;
          background: #fffeed; border-radius:0px 0px 4px 4px;}
.ccrtntbl .table-row:nth-last-child(1){margin-bottom: 10px !important;}
.ccrt-vlus{ padding: 40px 0 10px 0px;}
.ccrt-vlus .form-field-wrap{ margin-right:30px;}
.txnmode{ width:160px !important}
.prcvd a{background: #00dbff;
         color: #fff;
         border-radius: 23px;
         width: 32px !important;
         font-size: 16px !important;display:block;}
#confirmOverlay{background:linear-gradient(rgba(11,11,11,.1),rgba(11,11,11,.6)) repeat-x rgba(11,11,11,.2);height:100%;left:0;position:fixed;top:0;width:100%;z-index:100000}
#confirmBox{left:50%;margin:-130px 0 0 -230px;position:fixed;top:50%}

.popup_cnfwrap{border-radius: 4px;width:1020px;background:#fff;font-size:13px;margin:0 auto;overflow:hidden;padding:0;position:relative}.clasmov{width:465px}

.popup-cnftop{background:#9E4784;padding:10px}

.popup-cnftop h2{color:#fff!important;display:block;float:left;font-size:18px;font-weight:500;line-height:normal;margin:0!important;padding:0}

.popup-cnftop .close{background:rgba(0,0,0,0);display:block;float:right;padding:10px}
.popup-cnfbody{padding:10px}
.close-cnfpop{border-top:1px solid #e6e6e6;line-height:26px;margin-top:10px;padding-top:10px}

.popup-cnfrmwrap{padding: 10px 0px 10px 0px;}
.popup-cnfrmwrap a{padding: 10px 20px;margin-left: 10px;margin-top: 10px;border-radius: 2px;color: #000;font-weight: 500;text-transform: uppercase; background: #f9f9f9;}
.popup-cnfrmwrap a:hover{ background: #eee;}
.rlspmtmaster{}
.rlspmtmaster a{background: #00b7ff;color: #fff;padding: 5px 15px;display: block;border-radius: 4px;line-height: 24px;margin: 4px 0px;font-size: 15px;font-weight: 500;}
.rlspmtmaster a:hover{background: #00a6e8;}

.rjctpmtmaster{}
.rjctpmtmaster a{background: #ff9c9c;color: #fff; padding: 5px 15px;display: block;border-radius: 4px;line-height: 24px;margin: 4px 0px;font-size: 15px;font-weight: 500;margin-left:15px;}
.rjctpmtmaster a:hover{background: #ff7a7a;}
.lnd-avlblty{ font-size: 12px; color: #666; }
.lnd-avlblty span{float: left;margin-right: 6px;}
.lnd-avlblty p{float: left;}
.ldinfo{background: #f4f4f4;padding: 5px;margin-right: 5px !important;border-radius: 4px;}
.ttlnd{ margin-right:12px;}
.bnkr a{margin-top:7px !important;}
.captcha{
    position: absolute;
    margin-top: -55px;
    z-index: 99;
    right: 21px;
}
input:read-only, textarea:read-only {
    background-color: #ccc;
}
.multiselect{width:200px}.selectBox{position:relative}.selectBox select{width:100%}.overSelect{position:absolute;left:0;right:0;top:0;bottom:0;cursor: pointer;}#checkboxes,#usercheckboxes{display:none;border:1px solid #dadada}#checkboxes label,#usercheckboxes label{display:block;border-bottom:1px dashed #ccc;padding:6px 5px 6px 0}#checkboxes label:hover,#usercheckboxes label:hover{background-color:#1e90ff}
.userlist{ left: 0px;border-radius: 0 0 4px 4px;width: 23%;
top: 2px;
overflow: scroll;
padding: 1%;
background: #fff;
border-right: 2px solid #ddd; height: 565px;}
.userdetail{right: 0px; top: 0px; width: 75%;}
.usrtbs{padding: 10px 0;
border-bottom: 1px solid #ddd;}
.usrtbs a span{font-size: 15px;
font-weight: bold;
margin-bottom: 3px;}
.usrtbs a p{font-size: 12px;
color: #666;}
.nwmsg{right: 0px;
top: 25px;
font-size: 12px;
background: #3CC3A3;
color: #fff;
padding: 5px 10px;
border-radius: 20px;}
.chat-man{background: #3CC3A3;padding: 20px 15px;border-bottom: 2px solid #1f8459;}
.chat-man p{float: left;margin-right: 20px;/*! border-radius: 20px; *//*! background: #0a9177; */padding-right: 20px;color: #fff;font-size: 16px;max-width: 150px;border-right: 2px solid #139179;}

.cht-typr{bottom: 0px;width: 57%;background: #fff;padding: 14px;border-radius: 100px;box-shadow: 0px 0px;margin-left: 13px; margin-bottom: 15px;}
.typr-tping{}
.typr-tping textarea{resize: none;border: none;width: 680px;outline: none;}
.typr-tping textarea.typbox{}
.cht-typr a{padding: 5px;margin-right: 20px;}
.cht-typr a.typr-atch{}
#client2_chat_content{padding: 20px;max-height: 420px; overflow: auto;}

.cht-dtstmp{color: #999;
background: #fff;
width: 85px;
text-align: center;
padding: 5px;
border-radius: 20px;
margin: 0 auto;
    margin-bottom: 0px;
opacity: 0.8;
margin-bottom: 10px;}

.cht-msg{max-width: 75%;
background: #fff;
margin-bottom: 15px;
padding: 10px;
border-radius: 10px;}
.cht-msg span{ font-size: 13px; color: #999;}
.cht-msg p{ margin-bottom: 5px}
.rcv{ background: #EAFFFA; float: left;}
.snt{ float: right; background: #FDFFEA;}

.fil-msg{max-width: 60%;
padding: 8px 15px;
border-radius: 36px;
margin-bottom: 15px;
font-size: 13px;}
.fil-msg a{}
.fil-msg a span{}
.fil-msg a span.flinfo{}
.fil-msg a span.flinfo p{}
.fil-msg a span.flinfo p.flnmes{}
.fil-msg a span.flinfo p.fldtstmp{color: #999;
line-height: 22px;}
.fil-msg a span.dicon{padding: 8px;}

input.chatbox{}
.chat-window{padding: 20px;
height: 360px;
overflow: scroll;}
.col-wrapper {
    margin: 8.3% 0.5% 20px 0.5% !important;
}