.vcring-active{ width:77% !important}
.agovc-wrap{width: 24.8%;
background: #000;
border-radius: 2px;
height: 83%;
bottom: 0.5%;
left: 0.5%;}

.agovc-vdoblock{overflow: hidden;background: #151617;margin: 2%;}
.agovc-ptn{}
.agovc-gp{}
.agovc-self{}
.agovc-img{height: 100%; text-align: center;}
.agovc-img img{ height: 100%; width: auto;}
.agovc-calldurtn{top: 1%;
left: 1%;
font-size: 11px;
background: rgba(0,0,0,0.4);
padding: 3px 5px;
border-radius: 4px;
color: #fff;
font-weight: 200;}
.agovc-timeup{ background: #f00; font-weight: 400;z-index: 1;}
.agovc-unavlbl{text-align: center;width: 100%;top: 26%;}
.agovc-unavlbl span{display: block;margin-bottom: 8px;}
.agovc-unavlbl p{color: #f9a8a8;font-size: 12px;letter-spacing: 0.5px;margin-bottom: 15px;}
.agovc-unavlbl a{background: #3cc3a3;color: #fff;font-size: 12px;padding: 5px 8px;display: inline-block;border-radius: 3px;}

.agovc-expand-video{right: 5px;
top: 5px;
z-index: 1;
background: rgba(0,0,0,0.5);
padding: 5px 7px;
border-radius: 35px;}
.reminderlayer{ z-index: 0;}
.vdolayer{z-index: 1}